<!DOCTYPE html>
<html>
  <head>
    	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
	<link type="text/css"  rel="stylesheet" href="/static/styles.css" /> 
  	<title>Vinnie's Wiki</title>
    </head>
  <body>
	  <table class="main">
	  	<tr>
	  		<td class="left"> 
	  			<a href='/' class="main-title"> Vinnie's Wiki  </a>
	  		</td>
	  		<td class="right">
	  		</td>
	  	</tr>
	  	<tr>
	  	<td class="left">
	  	</td>
  		<td class="right"> 
		 		{% if user %}
		 			{% if pageName %}
		 				
		 				<a href="/_edit/{{pageName}}">edit|</a>
		 				<a href="/_history/{{pageName}}">history</a>
		 				&nbsp &nbsp &nbsp 
		 				{{user}}|
		 				<a href="/logout?src={{pageName}}"> LOGOUT</a>
		 			{%else%}
		 				{{user}}|
		 				<a href="/logout"> LOGOUT </a>		 
		 			{% endif %}	  
		 		{% else %}
		 			{%if pageName %}
		 				{%if pageName != 'login'%}
		 	 				{% if pageName != 'newUser'%}
		 	  					 <a href="/_edit/{{pageName}}">edit</a>|
		 	 					 <a href="/_history/{{pageName}}">history</a>
		 	 				{% endif %}	
		 	 				&nbsp &nbsp &nbsp 
		 					<a href="/login?src={{pageName}}">Login</a>
	    	 			{% endif %}
	    	 		{%else%}
	    	 		<a href="/login?src={{pageName}}">Login</a>
	    	 		{%endif%}	 	
		 	    {%endif%}
		 	</td>
		</tr>
	</table> 
	<div id="content">
  		{% block content %}
  		{% endblock %}
  	</div>
  </body>
</html>
