{% extends "base.html" %}

{% block content %}
	{% if comment %}
		<h3> {{comment}} </h3>
		<hr/>
	{% else %}
		<div class="center"> Recent Pages</div>
		<table>
		<colgroup>
    		<col span="2" style="width: 33%">
    	</colgroup>
    			
		<tr>
			<th> Page </th>
			<th> Version </th>
			<th> Date Created </th>
		</tr>	
			{% for blog in blogs %}
				<tr>
					<td> {{blog.subject}}</td>
					<td> {{blog.version}}</td>
					<td> {{blog.created}}</td>
				</tr>
			{% endfor %}
		</table>
		<hr/>
    {% endif %}
    <form method="post"> 		
		   <label> New Page Name: </label>
		   <input type="text" name="pageName" />
	  	   <Input type="submit" value="Make a new page" />  
	</form>	
{% endblock %}